<?xml version="1.0"?>
<!-- This is a bare configuration for a Tridion.Web editor -->
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
               xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
               xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions"
			   xmlns:list="http://www.sdltridion.com/2009/GUI/extensions/List"
               xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">

	<!--
		The SDL Tridion GUI uses a merging technique to minimize the amount of calls done by the client
		for static files (like .css and .js file).
		The files can be grouped and will be merged per group (if merging is enabled on the group)
		For debugging purposes the merging behavior can be switched off by setting the merge attribute to false.
	-->
	<resources>
		
		<cfg:filters />
		
		<cfg:extensiongroups />

		<cfg:groups>
			
			<cfg:group name="UIBeardcore.Extension.ExtendedArea.Info" merge="always">
				<cfg:fileset>
					<cfg:file type="script">/Extensions/ExtendedAreas/Info/Info.ascx.js</cfg:file>
					<cfg:file type="style">/Extensions/ExtendedAreas/Info/Info.ascx.css</cfg:file>
				</cfg:fileset>
			</cfg:group>

		</cfg:groups>
		
	</resources>

	<definitionfiles>
		<!-- List definitions -->
	</definitionfiles>

	<!--
		The SDL Tridion GUI allows for additions, manipulations and removal of items within the GUI through
		the 'extension methodology'.

		Below is the configuration section for those extensions.
		These configuration sections can be defined inline or external (if the externaldefinition is used, all
		inline content is ignored!)
	-->
	<extensions>
		<ext:editorextensions>
			<ext:editorextension target="CME">
				<ext:editurls />
				<ext:listdefinitions />
				<ext:itemicons />
				<ext:taskbars />
				<ext:commands />
				<ext:commandextensions/>
				<ext:contextmenus />
				<ext:lists/>
				<ext:xslstylesheetextensions />
				<ext:deckpages />
				<ext:tabpages />
				<ext:toolbars />
				<ext:ribbontoolbars/>
				<ext:extendedareas >
					
					<!-- The `add` element is the container for all extension being added to the runtime -->
					<ext:add>

						<!-- Defines a Tab extension to add to the runtime
								@assignid Uniq ID of the extension
								@insertbefore the section-name before which extension should be inluded (by defaul added to the end).
								@name defines the extension name 
							-->
						<ext:extension assignid="UIBeardcore.Extension.ExtendedArea.Info"
									   name="UIBeardcoreExtendedInfo">

							<!-- The `control` element hold the ASCX user control (filename, relative to root of project) -->
							<ext:control>~/Extensions/ExtendedAreas/Info/Info.ascx</ext:control>

							<!-- The `pagetype` element hold the definition of the extension control` client side name -->
							<ext:pagetype>UIBeardcore.Extension.ExtendedArea.Info</ext:pagetype>

							<!-- The `renderinblock` element specifies the width property of the Page. It doesn't affect the actual width of the Page. -->
							<ext:renderinblock>false</ext:renderinblock>

							<!-- The `dependencies` element is the container for resource group dependencies for this extension -->
							<ext:dependencies>
								<cfg:dependency>UIBeardcore.Extension.ExtendedArea.Info</cfg:dependency>
							</ext:dependencies>

							<!-- The `apply` element defines the applicability for this extension -->
							<ext:apply>
								<ext:view name="FolderView">
									<ext:control id="InfoExtensions" />
								</ext:view>
							</ext:apply>
						</ext:extension>
					</ext:add>

				</ext:extendedareas>
				<ext:optionspanels />
			</ext:editorextension>
		</ext:editorextensions>
		<ext:dataextenders />
		<ext:resourceextensions/>
	</extensions>

	<!--
		The SDL Tridion GUI uses a 'Command' pattern for the commands executed whenever a user
		interacts with the system.

		Below are all the available commands specified and the file that holds the actual implementation of that command.
	-->
	<commands />
	
	<contextmenus />
	
	<widgetsviews />
	
	<localization />

	<settings>
		<dependencies>
			<editor>CME</editor>
		</dependencies>
		<defaultpage/>
		<editurls/>
		<listdefinitions />
		<itemicons />
		<theme>
			<path>/Themes/</path>
		</theme>
		<resourceextensions />
		<customconfiguration />
	</settings>

</Configuration>
